.gradient-text
  svg(
    class="{{className}}" 
    style="width:{{svgWidth}}"
    xmlns="http://www.w3.org/2000/svg" 
    xmlns:xlink="http://www.w3.org/1999/xlink")
    defs
      linearGradient(id="{{svgHtmlID}}"
                      x1="0%" y1="0%" x2="100%" y2="100%"
                      spreadMethod="pad")
        stop(offset="0%"   stop-color="#ff4541" stop-opacity="1")
        stop(offset="100%" stop-color="#ffa503" stop-opacity="1")
    text(x="0" y="20" fill="{{fillSvgHtmlID}}" stroke="none") {{gradientText}}
  .gradient-text-text_hidden_copy(class="{{className}}") {{gradientText}}